.blog-rapper{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog{
    background-color: #eeeeee;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: auto;
}

/* by https://www.w3schools.com/css/css_float.asp */
.blog::after {
    content: "";
    clear: both;
    display: table;
}

.info-section{
    float: right;
}

.dislike-count, .like-count, .message-count{
    margin-left: 5px;
    margin-right: 5px;
}

.message-img {
    width : 1em;
}

.author, .content{
    margin-left: 10px;
}

.content{
    white-space: pre-wrap;
}


/* make footer stick to the bottom by https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly */
html {
    position: relative;
    min-height: 100%;
}

footer {
    text-align: center;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

main {
    padding-top: 45px;
    padding-bottom: 40px;
    position: relative;
}

.add-btn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    overflow: hidden;
}

.add-btn-img {
    width: 10vh;
}

.github-img {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.github-img:hover , .message-img:hover{
    filter:  opacity(70%);
}

.nebulas-link-img{
    height: 50px;
}

.nebulas-link-img:hover {
    filter:  opacity(70%);
}

.input-group-text{
    width: 100px;
}

#hot-section, #weekly-section, #myblog-section{
    display: none;
}

.message-input{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.message-section{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.message-align {
    width: 100px;
}

.divide-line{
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    border-width: 2px;
}

/* .input-group-prepend{
    text-align: center;
} */

/* @media screen and (max-width: 600px) {
    .blog-rapper{
        width:600px;

    }
} */